body {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    text-align:center;
    margin: auto;
}

#game {
    border:30px solid;
    /* border-style: solid;
    border-width: 30px; */
    border-color: rgb(255, 152, 27);
    margin: auto;
    display: block;
}