
<!DOCTYPE html>
<html>

  <head>
    {% block header %}
    <title>Tanks</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
  </head>

  {% block navbar %} 
  {% endblock %}

  <body>
    {% block game %} {% endblock %}
    <script type="module" src="{{ url_for('static', filename='js/Logic.js') }}"></script>
 </body>
  <hr>
  <footer class="container text-center">
    {% block footer %} {% endblock %}
    <p>&copy; Copyright 2020 Team flashover -- Kevin Cai, Matthew Chan & David Lupea</p>
  </footer>

</html>
